.install-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: fadeIn 0.3s ease-out;
}

.install-popup {
  background: whitesmoke;
  padding: 0px 6px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin: auto;
  /* margin-top: 8rem; */
  top: 5rem;
  animation: slideIn 0.5s ease-out;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 8px 3px var(--bg);
}
.x {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -2rem;
  left: 42%;
  border-radius: 50%;
  background-color: var(--bg);
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.install-lable {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.circle {
  font-size: 2.4rem;
  color: #fff; /* Color of the X symbol */
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.close-button span {
  font-size: 34px;
  line-height: 1;
  position: relative;
  left: 14px;
  bottom: 14px;
}
.installApp {
  display: flex;
  padding-top: 1rem;
}
.install {
  background: var(--bg);
  font-weight: 700;
  font-size: 1rem;
  color: white;
  border-radius: 1rem;
  margin: 0;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
}
.install-img {
  width: 263px;
  height: 242px;
  margin: auto;
  margin-top: 1rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start position, moving from top */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position, at the center */
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%); /* Start position, above the screen */
  }
  to {
    transform: translateY(2rem); /* End position, at the top */
  }
}
